# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_ANON_KEY=

# Termii (SMS/OTP)
TERMII_API_KEY=
TERMII_SENDER_ID=

# WhatsApp (360Dialog)
WHATSAPP_API_KEY=
WHATSAPP_URL=https://waba.360dialog.io/v1

# JWT
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Environment
ENVIRONMENT=development

# Production frontend URL
PRODUCTION_FRONTEND_URL=
